*~

build
/tools
downloads
package/

.dep
.project
.cproject
.settings/language.settings.xml
.DS_Store
workspace.code-workspace
compile_commands.json
zesc200200gan Default (1).cfg

# Qt project settings
*.pro.user
*.pro.shared

.vscode
*.launch
*.prefs

/tests/eeprom/
